# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/clinica_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQL10Dialect

# Server Configuration
SERVER_PORT=8080
SPRING_APPLICATION_NAME=API-de-Gerenciamento-de-Consultas
